<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            color: purple;
        }
        .container {
            background-color: black;
            width: 100%;
            height: 100vh;
            display: flex;
        }
        .color {
            height: 100%;
        }
    </style>
</head>
<body>
    <!-- <h1>HELLO!</h1> -->
    <div class="container"></div>
    <form id="form">
        <input type="text" name="prompt">
        <button>Submit</button>
        <script>
            const form = document.querySelector('#form');
            form.addEventListener('submit', function(e){
                e.preventDefault();
                
                const prompt = form.elements.prompt.value
                form.elements.prompt.value = ''

                // TODO study some JS...
                // TODO i barely understand this
                fetch('/palette', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: new URLSearchParams({
                        prompt: prompt
                    })
                })
                .then((response) => response.json())
                .then(data => {
                    // vscode simple browser does not show dev tools
                    // so i add a p to debug
                    // console.log('submit event');
                    // p = document.createElement('p');
                    // p.textContent = JSON.stringify(data, null, 2);
                    // form.appendChild(p);
                    
                    const colors = data.colors;
                    const container = document.querySelector('.container');
                    container.innerHTML = '';
                    for(const color of colors) {
                        const div = document.createElement('div')
                        div.classList.add('color')
                        div.style.backgroundColor = color;
                        div.style.width = `calc(100%/ ${colors.length}`;
                        
                        container.appendChild(div)
                    }
                });
                // end fetch
            });
        </script>
    </form>
</body>
</html>